footer a {
    color: $neutral-950;
}
footer ul,
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-group {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6);
}

.footer-navbar {
    gap: 40px;

    & a {
        display: block;
        padding: 12px 16px;

        &:hover,
        &:active {
            color: $primary-700;
            border-bottom: 1px solid $primary-500;
        }
    }
}

.law-info {
    justify-content: center;
}

img.Submate-word {
    max-width: 120px;
}
