<section>
    <div class="brand-story-bg">
        <div class="d-flex brand-story-box flex-column flex-md-row">
            <div class="main-area">
                <div class="pic"><img src="../src/assets/images/image_150.jpg" alt=""></div>
                <h3 class="fs-2 text-neutral-0 text-end">BEFORE</h3>
                <h4 class="fs-7 fs-md-6 text-neutral-0 text-center text-md-end">在這個什麼都要訂閱的時代，一人太貴，揪團又麻煩。</h4>
            </div>
            <div class="main-area">
                <div class="d-flex flex-wrap brand-story-subBox">
                    <div class="sub-area"><div class="pic"><img src="../src/assets/images/image_151.png" alt=""></div></div>
                    <div class="sub-area"><div class="pic"><img src="../src/assets/images/image_153.png" alt=""></div></div>
                    <div class="sub-area"><div class="pic"><img src="../src/assets/images/image_152.png" alt=""></div></div>
                    <div class="sub-area"><div class="pic"><img src="../src/assets/images/image_154.png" alt=""></div></div>
                </div>
                <h3 class="fs-2 text-neutral-0">AFTER</h3>
                <h4 class="fs-7 fs-md-6 text-neutral-0 text-center">以台灣為核心的「訂閱共享平台」，安全共享多人帳號，降低支出並保障使用品質。</h4>
            </div>
        </div>
    </div>
</section>
