<!--NETFLIX-->
<div class="col-12 col-md-6 col-lg-4 catalog-item" data-cat="stream">
    <div class="card p-4 p-md-8 h-100 border border-2 rounded-3 border-neutral-0 bg-white bg-opacity-40">
        <div class="d-flex justify-content-center mb-4 mb-md-6">
            <img src="../src/assets/images/Property1_NETFLIX.svg" alt="NETFLIX">
        </div>
        <!-- ★ 內部可橫滑切換的按鈕列（2 個視圖） -->
        <div
            class="card-switch bg-neutral-0 bg-neutral-0 nav gap-2 p-2 flex-nowrap overflow-auto mb-4 mb-md-6 border border-1 rounded-4 shadow">
            <button class="btn btn-sm text-neutral-300 px-4 py-2 rounded-4 btn-effect w-100 active" type="button"
                data-view="standard">Standard</button>
            <button class="btn btn-sm text-neutral-300 px-4 py-2  rounded-4 btn-effect w-100" type="button"
                data-view="premium">Premium</button>
        </div>
        <div class="card-body p-0">
            <!-- ★ 二個內容面板：預設顯示 intro，其餘加 d-none -->
            <div class="card-pane d-flex flex-column justify-content-between h-100" data-view="standard">
                <div class="d-flex flex-column gap-4 mb-4 mb-md-6">
                    <div class="d-flex align-items-center">
                        <div class="svg-task_alt-size">
                            <svg class="text-secondary-500 me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_29222_16883" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_29222_16883)">
                                    <path
                                        d="M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.0833 2 14.1083 2.15833 15.075 2.475C16.0417 2.79167 16.9333 3.23333 17.75 3.8L16.3 5.275C15.6667 4.875 14.9917 4.5625 14.275 4.3375C13.5583 4.1125 12.8 4 12 4C9.78333 4 7.89583 4.77917 6.3375 6.3375C4.77917 7.89583 4 9.78333 4 12C4 14.2167 4.77917 16.1042 6.3375 17.6625C7.89583 19.2208 9.78333 20 12 20C14.2167 20 16.1042 19.2208 17.6625 17.6625C19.2208 16.1042 20 14.2167 20 12C20 11.7 19.9833 11.4 19.95 11.1C19.9167 10.8 19.8667 10.5083 19.8 10.225L21.425 8.6C21.6083 9.13333 21.75 9.68333 21.85 10.25C21.95 10.8167 22 11.4 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.6 16.6L6.35 12.35L7.75 10.95L10.6 13.8L20.6 3.775L22 5.175L10.6 16.6Z"
                                        fill="currentColor" /><!--要改色path的 fill="#D9D9D9"-> fill="currentColor" -->
                                </g>
                            </svg>
                        </div>
                        <div class="fs-7 fs-md-6 text-neutral-700">基本裝置無明確限制，下載裝置 Premium 可達 6 台</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="svg-task_alt-size">
                            <svg class="text-secondary-500 me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_29222_16883" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_29222_16883)">
                                    <path
                                        d="M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.0833 2 14.1083 2.15833 15.075 2.475C16.0417 2.79167 16.9333 3.23333 17.75 3.8L16.3 5.275C15.6667 4.875 14.9917 4.5625 14.275 4.3375C13.5583 4.1125 12.8 4 12 4C9.78333 4 7.89583 4.77917 6.3375 6.3375C4.77917 7.89583 4 9.78333 4 12C4 14.2167 4.77917 16.1042 6.3375 17.6625C7.89583 19.2208 9.78333 20 12 20C14.2167 20 16.1042 19.2208 17.6625 17.6625C19.2208 16.1042 20 14.2167 20 12C20 11.7 19.9833 11.4 19.95 11.1C19.9167 10.8 19.8667 10.5083 19.8 10.225L21.425 8.6C21.6083 9.13333 21.75 9.68333 21.85 10.25C21.95 10.8167 22 11.4 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.6 16.6L6.35 12.35L7.75 10.95L10.6 13.8L20.6 3.775L22 5.175L10.6 16.6Z"
                                        fill="currentColor" /><!--要改色path的 fill="#D9D9D9"-> fill="currentColor" -->
                                </g>
                            </svg>
                        </div>
                        <div class="fs-7 fs-md-6 text-neutral-700">同住用戶免費。</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="svg-task_alt-size">
                            <svg class="text-secondary-500 me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_29222_16883" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_29222_16883)">
                                    <path
                                        d="M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.0833 2 14.1083 2.15833 15.075 2.475C16.0417 2.79167 16.9333 3.23333 17.75 3.8L16.3 5.275C15.6667 4.875 14.9917 4.5625 14.275 4.3375C13.5583 4.1125 12.8 4 12 4C9.78333 4 7.89583 4.77917 6.3375 6.3375C4.77917 7.89583 4 9.78333 4 12C4 14.2167 4.77917 16.1042 6.3375 17.6625C7.89583 19.2208 9.78333 20 12 20C14.2167 20 16.1042 19.2208 17.6625 17.6625C19.2208 16.1042 20 14.2167 20 12C20 11.7 19.9833 11.4 19.95 11.1C19.9167 10.8 19.8667 10.5083 19.8 10.225L21.425 8.6C21.6083 9.13333 21.75 9.68333 21.85 10.25C21.95 10.8167 22 11.4 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.6 16.6L6.35 12.35L7.75 10.95L10.6 13.8L20.6 3.775L22 5.175L10.6 16.6Z"
                                        fill="currentColor" /><!--要改色path的 fill="#D9D9D9"-> fill="currentColor" -->
                                </g>
                            </svg>
                        </div>
                        <div class="fs-7 fs-md-6 text-neutral-700">不同住需加 NT$ 100 / 人</div>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center align-items-center">
                    <p class="text-primary-600 h4 h3-md">NT$ 330</p>
                    <p class="text-neutral-800 fs-md-5">/ 月</p>
                </div>
            </div>
            <div class="card-pane d-none d-flex flex-column justify-content-between h-100" data-view="premium">
                <div class="d-flex flex-column gap-4 mb-4 mb-md-6">
                    <div class="d-flex align-items-center">
                        <div class="svg-task_alt-size">
                            <svg class="text-secondary-500 me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_29222_16883" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_29222_16883)">
                                    <path
                                        d="M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.0833 2 14.1083 2.15833 15.075 2.475C16.0417 2.79167 16.9333 3.23333 17.75 3.8L16.3 5.275C15.6667 4.875 14.9917 4.5625 14.275 4.3375C13.5583 4.1125 12.8 4 12 4C9.78333 4 7.89583 4.77917 6.3375 6.3375C4.77917 7.89583 4 9.78333 4 12C4 14.2167 4.77917 16.1042 6.3375 17.6625C7.89583 19.2208 9.78333 20 12 20C14.2167 20 16.1042 19.2208 17.6625 17.6625C19.2208 16.1042 20 14.2167 20 12C20 11.7 19.9833 11.4 19.95 11.1C19.9167 10.8 19.8667 10.5083 19.8 10.225L21.425 8.6C21.6083 9.13333 21.75 9.68333 21.85 10.25C21.95 10.8167 22 11.4 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.6 16.6L6.35 12.35L7.75 10.95L10.6 13.8L20.6 3.775L22 5.175L10.6 16.6Z"
                                        fill="currentColor" /><!--要改色path的 fill="#D9D9D9"-> fill="currentColor" -->
                                </g>
                            </svg>
                        </div>
                        <div class="fs-7 fs-md-6 text-neutral-700">基本裝置無明確限制，下載裝置 Premium 可達 6 台</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="svg-task_alt-size">
                            <svg class="text-secondary-500 me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_29222_16883" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_29222_16883)">
                                    <path
                                        d="M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.0833 2 14.1083 2.15833 15.075 2.475C16.0417 2.79167 16.9333 3.23333 17.75 3.8L16.3 5.275C15.6667 4.875 14.9917 4.5625 14.275 4.3375C13.5583 4.1125 12.8 4 12 4C9.78333 4 7.89583 4.77917 6.3375 6.3375C4.77917 7.89583 4 9.78333 4 12C4 14.2167 4.77917 16.1042 6.3375 17.6625C7.89583 19.2208 9.78333 20 12 20C14.2167 20 16.1042 19.2208 17.6625 17.6625C19.2208 16.1042 20 14.2167 20 12C20 11.7 19.9833 11.4 19.95 11.1C19.9167 10.8 19.8667 10.5083 19.8 10.225L21.425 8.6C21.6083 9.13333 21.75 9.68333 21.85 10.25C21.95 10.8167 22 11.4 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.6 16.6L6.35 12.35L7.75 10.95L10.6 13.8L20.6 3.775L22 5.175L10.6 16.6Z"
                                        fill="currentColor" /><!--要改色path的 fill="#D9D9D9"-> fill="currentColor" -->
                                </g>
                            </svg>
                        </div>
                        <div class="fs-7 fs-md-6 text-neutral-700">同住用戶免費。</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="svg-task_alt-size">
                            <svg class="text-secondary-500 me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_29222_16883" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_29222_16883)">
                                    <path
                                        d="M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.0833 2 14.1083 2.15833 15.075 2.475C16.0417 2.79167 16.9333 3.23333 17.75 3.8L16.3 5.275C15.6667 4.875 14.9917 4.5625 14.275 4.3375C13.5583 4.1125 12.8 4 12 4C9.78333 4 7.89583 4.77917 6.3375 6.3375C4.77917 7.89583 4 9.78333 4 12C4 14.2167 4.77917 16.1042 6.3375 17.6625C7.89583 19.2208 9.78333 20 12 20C14.2167 20 16.1042 19.2208 17.6625 17.6625C19.2208 16.1042 20 14.2167 20 12C20 11.7 19.9833 11.4 19.95 11.1C19.9167 10.8 19.8667 10.5083 19.8 10.225L21.425 8.6C21.6083 9.13333 21.75 9.68333 21.85 10.25C21.95 10.8167 22 11.4 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.6 16.6L6.35 12.35L7.75 10.95L10.6 13.8L20.6 3.775L22 5.175L10.6 16.6Z"
                                        fill="currentColor" /><!--要改色path的 fill="#D9D9D9"-> fill="currentColor" -->
                                </g>
                            </svg>
                        </div>
                        <div class="fs-7 fs-md-6 text-neutral-700">不同住需加 NT$ 100 / 人</div>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center align-items-center">
                    <p class="text-primary-600 h4 h3-md">NT$ 390</p>
                    <p class="text-neutral-800 fs-md-5">/ 月</p>
                </div>
            </div>
        </div>
        <button class="mt-4 mt-md-6 w-100 py-4 px-6 border-0 bg-primary-600 text-neutral-0 rounded-pill subscribe-btn"
            data-bs-toggle="modal" data-bs-target="#netflixModal" data-bs-whatever="@netflix">立即訂閱</button>
    </div>
</div>

<!--details_netflix(產品詳細內容)-->
<div class="modal fade" id="netflixModal" tabindex="-1" aria-labelledby="netflixModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-details modal-xl">
        <div class="modal-content bg-primary-50">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row flex-column flex-md-row">
                        <div class="col-12 col-md-4 d-flex flex-column">
                            <div class="left-img-heigth d-flex flex-column justify-content-center align-items-center">
                                <img class="brand-img" src="../src/assets/images/Property1_NETFLIX.svg" alt="NETFLIX">
                            </div>
                            <div class="d-none d-md-flex flex-column mt-auto"><!--mt-auto貼底-->
                                <h5 class="mb-3 mb-md-5">推薦組合/方案</h5>
                                <h6 class="mb-1 mb-md-2">追劇不停</h6>
                                <p class="mb-2 mb-md-3">Netflix（美劇）、KKTV（日韓劇）</p>
                                <h6 class="mb-1 mb-md-2">國際大片、原創劇</h6>
                                <p class="mb-1 mb-md-2">Netflix、Disney</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 ms-auto">
                            <h4 class="mb-3 mb-md-5">Netflix</h4>
                            <div class="d-flex gap-2 gap-md-3 mb-3 mb-md-5">
                                <h5 class="mb-0">商品介紹</h5>
                                <img src="../src/assets/icons/thumbs-up.svg" alt="thumbs-up">
                                <p class="mb-0">訂閱人數：<span>1004</span> 人</p>
                            </div>
                            <ul class="list-unstyled d-flex flex-column gap-3 gap-md-4 mb-3 mb-md-5">
                                <li>
                                    <h6 class="mb-1">多元內容:</h6>
                                    <p class="mb-0">涵蓋各種影片類型，包括電影、電視劇、紀錄片、動畫等，滿足不同觀影需求。</p>
                                </li>
                                <li>
                                    <h6 class="mb-1">多平台支援:</h6>
                                    <p class="mb-0">支援智慧型手機、平板電腦、智慧型電視、筆記型電腦等各種裝置觀看。</p>
                                </li>
                                <li>
                                    <h6 class="mb-1">離線下載:</h6>
                                    <p class="mb-0">部分方案可讓會員下載節目和電影到裝置上，方便離線觀看</p>
                                </li>
                                <li>
                                    <h6 class="mb-0">Netflix 提供多種方案，主要差異在於觀看畫質和同時觀看裝置數量。</h6>
                                    <div class="d-flex align-items-center gap-2">
                                        <h6 class="mb-0">基本方案:</h6>
                                        <p class="mb-0">提供中等畫質(720p)，可同時在一個裝置觀看。</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h6 class="mb-0">標準方案:</h6>
                                        <p class="mb-0">提供高級畫質(1080p)，可同時在兩個裝置觀看。</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h6 class="mb-0">高級方案:</h6>
                                        <p class="mb-0">提供頂級畫質(4K+HDR)，可同時在四個裝置觀看，並提供沉浸式音效</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="d-flex flex-nowrap align-items-center gap-3 gap-md-4 mb-3 mb-md-5">
                                <label class="form-label mb-0">方案選擇</label>
                                <select class="form-select rounded-pill border-primary-500 select-w-300"
                                    aria-label="Default select example">
                                    <option value="1">Standard</option>
                                    <option value="2">Premium</option>
                                </select>
                            </div>
                            <div class="d-flex d-md-none flex-column mt-auto mb-3 mb-md-5"><!--mt-auto貼底-->
                                <h5 class="mb-3 mb-md-5">推薦組合/方案</h5>
                                    <div class="d-flex gap-4">
                                        <div>
                                            <h6 class="mb-1">追劇不停</h6>
                                            <p class="mb-0">Netflix（美劇）、KKTV（日韓劇）</p>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">國際大片、原創劇</h6>
                                            <p class="mb-0">Netflix、Disney</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8 d-flex flex-column flex-md-row gap-4">
                            <a href="#" type="button"
                                class="btn py-4 px-6 btn-primary rounded-pill text-neutral-0 d-flex justify-content-center align-items-center gap-1"
                                data-bs-dismiss="modal">快速結帳
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_20213_39877" style="mask-type:alpha" maskUnits="userSpaceOnUse"
                                        x="0" y="0" width="24" height="24">
                                        <rect width="24" height="24" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_20213_39877)">
                                        <path
                                            d="M16.175 13H4V11H16.175L10.575 5.4L12 4L20 12L12 20L10.575 18.6L16.175 13Z"
                                            fill="currentColor" />
                                    </g><!--要改色path的 fill="#D9D9D9"-> fill="currentColor" -->
                                </svg>
                            </a>
                            <a href="cart_list.html" type="button"
                                class="btn py-4 px-6 btn-neutral-0 rounded-pill text-secondary-700 border-secondary-700">加入購物車</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>