<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register_complete</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="d-flex justify-content-center mb-3">
      <img src="../src/assets/images/Property1_1.svg" alt="主視覺" />
    </div>
    <h1 class="d-flex justify-content-center mb-3">歡迎加入Submate！</h1>
    <h2 class="d-flex justify-content-center h4 mb-5">
      你的省錢之旅，現在正式啟航
    </h2>

    <div class="d-grid gap-2 col-6 mx-auto">
      <a href="product_list.html" class="w-100"
        ><button
          class="btn btn-primary w-100 mb-5 text-white fs-5"
          type="button"
        >
          點我查看商品列表
        </button></a
      >
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
